.titleCenter{
    font-weight: bold;
    margin-bottom: 1rem;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.update-prices-btn {
    margin-left: 60px;
  }
.order-btn{
    margin-right: 60px;
}
  