/* StockList.css */

/* Estilos para la tabla de acciones */
.stock-table-container {
    padding: 10pt;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: #b3b3b3;
  }

  
.stock-table {
    width: 100%;
    border-collapse: collapse;
  }
.stock-table:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Estilos para las celdas de la tabla */
  .stock-table th,
  .stock-table td {
    padding: 8px;
    text-align: left;
  }
  .stock-table .td-main{
    cursor: pointer;
  }
  
  /* Estilo para la fila del encabezado de la tabla */
  .stock-table th {
    background-color: #4664eb;
    color: #ffffff;
  }
  

  /* Estilo para las filas impares */
.stock-table tr:nth-child(odd) {
    background-color: #eaecff;
  }

/* Estilo para las filas pares */
.stock-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.stock-table tr:hover {
  background-color: #4664eb;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra */
  transition: transform 0.5s, scale 0.5s; /* Define la transición por separado */
}

.stock-table tr:hover {
  padding: auto; /* No es necesario establecer el padding aquí */
  transform: scale(1.02); /* Aumenta el tamaño al hacer hover */
}
